/* .brand { background: url("../images/sub/brand_bg.png") no-repeat center 1387px;} */
.brand .inner { max-width: 1640px; padding: 0 20px;}

.brand_visual {  background: url("../images/sub/brand_visual.png") no-repeat center center/cover; height: 670px;}
.brand_visual .visual_txt { color: #fff; text-align: center; padding: 200px 0; text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
.brand_visual .visual_txt h2 { font-family: var(--sub-font); font-size: 6rem;  margin-bottom: 15px; line-height: 1.2; text-transform: uppercase; }
.brand_visual .visual_txt h3 { font-family: var(--sub-font); font-size: 4.5rem; font-weight: 700; }
.brand_visual .visual_txt p { font-size: 1.8rem; font-weight: 500; }

.brand .txt01 {  position: relative; text-align: center; padding: 200px 0; background: #FFF8EE;}
.brand h4 { font-size: 3rem; font-weight: 700; padding-bottom: 10px;}
.brand p { padding: 15px 0;}

.brand .txt02 { position: relative;}
.brand .txt02 .bg {  height: 490px; background: url("../images/sub/brand_bg.png") no-repeat center center ; background-size: cover;}
.brand .txt02 .txt_box { text-align: center; padding: 100px 0; background: #FFF8EE; width: 839px; height: 370px; position: absolute; left: 50%; transform: translateX(-50%) ; bottom: -300px; border-radius: 75px;}

.brand_philosophy { padding: 494px 0 200px; background: #FFF8EE; }
.brand_philosophy ul li:not(:nth-child(2)) { display: flex; gap: 10.416vw; align-items: center;  }
.brand_philosophy ul li:nth-child(2) { display: flex; flex-wrap: wrap-reverse; gap: 10.416vw; align-items: center;  }
.brand_philosophy ul li:not(:last-child){ padding-bottom: 200px;}

.brand_philosophy ul li .ps_img { width: 700px; border-radius: 50px; overflow: hidden; box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);}
.brand_philosophy ul li .ps_img img { width: 100%; display: block; }

.brand_philosophy ul li .ps_txt { width: calc(100% - 900px);}
.brand_philosophy ul li:nth-child(2) .ps_txt { text-align: right;}
.brand_philosophy ul li .ps_txt span { font-weight: 700; font-size: 3rem; font-family: var(--sub-font);}
.brand_philosophy ul li .ps_txt h5 { font-weight: 700; font-size: 3.5rem ; padding : 30px 0 10px; }
.brand_philosophy ul li .ps_txt p { padding-top: 30px ; font-size: 2rem;}


@media (max-width : 1300px) { 
  .brand_philosophy ul li .ps_img { width: 600px; }
  .brand_philosophy ul li .ps_txt { width: calc(100% - 800px);}
  .brand_philosophy ul li .ps_txt span { font-size: 2.8rem;}
  .brand_philosophy ul li .ps_txt h5 { font-size:  3.3rem ; padding-top: 25px;}
  .brand_philosophy ul li .ps_txt p {font-size: 1.8rem; padding-top: 25px;}
}

@media (max-width : 1024px) { 
  .brand_visual {height: 600px;}

  .brand_visual .visual_txt h2 { font-size: 5rem; }
  .brand_visual .visual_txt h3 { font-size: 4rem; }
  .brand_visual .visual_txt p { font-size: 1.6rem;  }

  .brand .txt01 { padding: 120px 0; }
  .brand h4 { font-size: 2.5rem; }
  .brand p { padding: 15px 0;}

  .brand .txt02 .txt_box { width: 600px; bottom: -250px;}

  .brand_philosophy { padding: 400px 0 200px;}
  .brand_philosophy ul li:not(:nth-child(2))  { display: block;}
  .brand_philosophy ul li:nth-child(2) { gap: 0; }
  .brand_philosophy ul li:not(:last-child){ padding-bottom: 150px;}

  .brand_philosophy ul li .ps_img { width: 100%; margin: 0 auto; }
  .brand_philosophy ul li .ps_txt { padding-top: 50px; width: 100%; text-align: center;}
  .brand_philosophy ul li:nth-child(2) .ps_txt { text-align: center;}

  .brand_philosophy ul li .ps_txt span { font-size: 2.5rem;}
  .brand_philosophy ul li .ps_txt h5 { font-size:  3rem ; padding : 25px 0 10px;}
  .brand_philosophy ul li .ps_txt p {font-size: 1.5rem; padding-top: 25px;}
} 

@media (max-width : 768px) {
  .brand_visual {height: 580px; background-position: right -150px center;}
  .brand_visual .visual_txt { padding: 180px 0;}
  .brand_visual .visual_txt h2 { font-size: 4rem; }
  .brand_visual .visual_txt h3 { font-size: 3rem; }
  .brand_visual .visual_txt p { font-size: 1.4rem;}

  .brand .txt01 { padding: 100px 0; }
  .brand h4 { font-size: 2rem; }
  .brand p { padding: 10px 0;}
  .brand .txt02 .txt_box { width: 500px; padding: 90px 30px; bottom: -200px; border-radius: 70px;}

  .brand_philosophy { padding: 300px 0 200px;}
  .brand_philosophy ul li:not(:last-child){ padding-bottom: 100px;}
  /* .brand_philosophy ul li .ps_img { width: 500px; } */
  .brand_philosophy ul li .ps_txt { padding-top: 25px; }
}

@media (max-width : 570px) {
  .brand_visual {height: 550px; background-position: left -190px center;}
  .brand .txt02 .txt_box { width: 400px; padding: 70px 40px;  border-radius: 55px; }

  .brand_philosophy { padding: 250px 0 150px;}

  .brand_visual .visual_txt { padding: 170px 0;}
  .brand_philosophy ul li:not(:last-child){ padding-bottom: 80px;}
  /* .brand_philosophy ul li .ps_img { width: 400px; } */
  .brand_philosophy ul li .ps_txt { padding-top: 20px; }
  .brand_philosophy ul li .ps_txt span { font-size: 2rem;}
  .brand_philosophy ul li .ps_txt h5 { font-size:  2.5rem ; padding : 20px 0 10px;}
  .brand_philosophy ul li .ps_txt p {font-size: 1.4rem; padding-top: 20px;}
}

@media (max-width : 400px) {
  .brand_visual { background-position: left -220px center;}
  .brand_visual .visual_txt { padding: 180px 20px;}
  .brand_visual .visual_txt h2 { font-size: 3.5rem; }
  .brand_visual .visual_txt h3 { font-size: 2.5rem; }
  .brand_visual .visual_txt p { font-size: 1.2rem;  }

  .brand .txt01 p { font-size: 1.2rem;}

  .brand .txt02 .txt_box { width: 350px; padding: 50px 40px; }
  .brand .txt02 .txt_box > h4 { font-size: 1.4rem;}
  .brand .txt02 .txt_box > p { font-size: 1.2rem;}
  
  .brand_philosophy ul li .ps_txt span { font-size: 1.8rem;}
  .brand_philosophy ul li .ps_txt h5 { font-size: 2.3rem ; }

  .brand_philosophy { padding: 100px 0 ;}
  /* .brand_philosophy ul li .ps_img { width: 350px; } */
}

@media (max-width : 370px) {
  .brand_visual {height: 450px;}
  .brand_visual .visual_txt { padding: 150px 20px;}
  .brand_visual .visual_txt h2 { font-size: 3rem; }
  .brand_visual .visual_txt h3 { font-size: 2rem; }
  .brand_visual .visual_txt p { font-size: 1rem; }

  .brand h4 { font-size: 1.5rem; }
  .brand p { padding: 5px 0;}
  .brand .txt01 { padding: 50px 0; }
  .brand .txt01 p { font-size: 1rem;}
  
  .brand .txt02 .txt_box > p { font-size: 1rem;}
  .brand .txt02 .txt_box { width: 300px; padding: 40px 30px; }

  .brand_philosophy ul li .ps_txt span { font-size: 1.5rem;}
  .brand_philosophy ul li .ps_txt h5 { font-size: 2rem ; }
  .brand_philosophy ul li .ps_txt p { font-size: 1.2rem; padding-top: 10px; }
}

/* 애니메이션 */
/* 초기 상태 */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.4s ease-out;
}

/* 활성화 상태 */
.animate {
  opacity: 1;
  transform: translateY(0);
}

