/* community */
.community .inner { max-width: 1160px ; padding: 100px 20px 200px; text-align: center;} 

/* community_visual */
.community_visual { background: url("../images/sub/community_visual.png")no-repeat center center/cover; height: 670px;}

.community_visual h2 { font-family: var(--sub-font); font-size: 6rem;   line-height: 1.2; text-transform: uppercase;   color: #fff; text-align: center; text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); padding: 150px 0;}

/* community_txt */
.community_txt .breadcrumbs { font-size: 2.5rem; font-weight: 500;  display :flex ; gap: 130px; justify-content: center;}
.community_txt .breadcrumbs > li { position: relative; transition: all 0.5s; color: var(--sub-color); }
.community_txt .breadcrumbs > li > a { display: block; padding: 0 10px;}
.community_txt .breadcrumbs > li:hover { color: #C57015;}
.community_txt .breadcrumbs > li::before { transition: all 0.5s; opacity: 0; content: ""; width: 7px; height: 7px; background: #C57015; display: block; border-radius: 50%; left: calc(50% - 3px); top: -20px; position: absolute;}

.community_txt .breadcrumbs > li:hover::before { opacity: 1; transform: translateY(10px);}

/* .community_txt .breadcrumbs li a { display: block; } */
.community_txt h3 { font-family: var(--sub-font) ; font-size: 5rem;  font-weight: 700; padding: 80px 0 16px;}
.community_txt span { font-size: 1.7rem; }

/* graph */
.graph .graphlogo { width: 185px; margin: 0 auto; padding: 127px 0 40px;}
.graph .graphlogo img { width: 100%; display: block;}
.graph .tit { font-size: 4rem; font-weight: 700; padding-bottom: 16px;}
.graph .txt {font-size: 2.5rem; padding-bottom: 45px; }
.graph .graph_img img { display: block; width: 100%; }

/* welcome */
.welcome { padding-top: 200px;}
.welcome .tit { font-weight: 700; font-size: 4rem;}
.welcome .tit > span { font-family: var(--sub-font);}

.welcome .txt { font-size: 3rem; padding: 15px 0 40px;}
.welcome .txt > span { font-weight: 700; font-size: 3.2rem; color: var(--sub-color); }
.welcome .welcome_img { width: 700px; margin: 0 auto;}
.welcome .welcome_img > img { display: block; width: 100%; box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);}

/* notice */
.notice { text-align: left; margin: 200px auto 0; background: #F2E5D3; padding: 80px 100px; width: 1120px;}
.notice dt { font-size: 2rem; font-weight: 700; padding-bottom: 5px;}
.notice dd { position: relative; padding: 5px 0 5px 13px; margin-left: 7px; }
.notice dd::before { content: ""; width: 5px; height: 5px; background: #655542; border-radius: 50%; display: block; position: absolute; left: 0; top: calc(50% - 3px) ;}
.notice dd:nth-of-type(3)::before { content: ""; width: 5px; height: 5px; background: #655542; border-radius: 50%; display: block; position: absolute; left: 0; top: calc(30% - 3px) ;}
.notice dd:nth-of-type(6)::before { content: ""; width: 5px; height: 5px; background: #655542; border-radius: 50%; display: block; position: absolute; left: 0; top: calc(20% - 3px) ;;}

@media (max-width : 1500px) { 
 .notice { margin: 170px auto; padding: 80px 100px; width: 1000px;}
  
}
@media (max-width : 1200px) { 
 .notice {width: 950px;}
}

@media (max-width : 1024px) { 
  .community .inner { padding: 100px 20px 120px; }
  .community_visual {height: 600px;}

  .community_visual h2 { font-size: 5rem; }
  .community_txt h3 { padding: 80px 0 16px; font-size: 4rem; }
  .community_txt .breadcrumbs { gap: 80px; font-size: 2.3rem;}

  .graph .graphlogo { width: 150px; padding: 100px 0 40px;}
  
  .graph .tit { font-size: 3.5rem; }
  .graph .txt {font-size: 2rem; padding-bottom: 40px; }

  .welcome { padding-top: 120px;}
  .welcome .tit { font-size: 3.5rem;}
  .welcome .txt { font-size: 2.5rem; padding: 15px 0 40px;}
  .welcome .txt > span { font-size: 3rem; }
  .welcome .welcome_img { width: 650px; }

  .notice { margin: 120px auto; padding: 70px 80px; width: 100%;}
  .notice dd:nth-of-type(1)::before { top: calc(30% - 2px); }
  .notice dd:nth-of-type(2)::before { top: calc(40% - 0px); }
  .notice dd:nth-of-type(3)::before { top: calc(20% - 3px); }
} 

@media (max-width : 768px) {
  .community .inner { padding: 80px 20px 80px; }
  .community_visual { height: 550px;}

  .community_visual h2 { font-size: 4rem; }
  .community_txt h3 { padding: 80px 0 16px; font-size: 3.5rem; }
  .community_txt .breadcrumbs { gap: 60px; font-size: 2rem;}
  .community_txt span { font-size: 1.5rem; }

  .graph .tit { font-size: 3rem; }
  .graph .txt {font-size: 1.5rem; padding-bottom: 30px; }

  .welcome { padding-top: 80px;}
  .welcome .tit { font-size: 3rem;}
  .welcome .txt { font-size: 2rem; padding: 10px 0 30px;}
  .welcome .txt > span { font-size: 2.5rem; }
  .welcome .welcome_img { width: 71.614583vw; }
  
  .notice { margin: 80px auto; padding: 60px 40px; } 
  .notice dt { font-size: 1.7rem; }
  .notice dd { font-size: 1.4rem; }
}

@media (max-width : 570px) {
  .community .inner { padding: 80px 20px 0; }

  .community_visual h2 { font-size: 3.8rem; }
  .community_txt h3 { padding: 80px 0 0px; }
  .community_txt .breadcrumbs { gap: 40px; font-size: 1.7rem; gap: 30px;}
  .graph .graphlogo { width: 100px; padding: 50px 0 40px;}
 
  .graph .tit { font-size: 2.5rem; }
  .graph .txt {font-size: 1.4rem; padding-bottom: 20px; }

  .welcome .tit { font-size: 2.5rem;}
  .welcome .txt { font-size: 1.4rem; padding: 5px 0 15px;}
  .welcome .txt > span { font-size: 1.9rem; }

  .notice { margin: 60px auto; padding: 60px 40px;}
  .notice dd:nth-of-type(4)::before { top: calc(30% - 2px); }
}

@media (max-width : 400px) {
  .welcome { padding-top: 50px;}
  .notice { margin: 60px auto; padding: 30px 30px;}
  .notice dt { font-size: 1.5rem; }
  .notice dd { font-size: 1.2rem; }
  .notice dd:nth-of-type(1):before { top: calc(20% - 2px); }
  .notice dd:nth-of-type(2):before { top: calc(30% - 2px); }
  .notice dd:nth-of-type(3):before { top: calc(10% + 3px); }
  .notice dd:nth-of-type(5):before { top: calc(20% + 2px); }
  .notice dd:nth-of-type(6):before { top: calc(5% + 6px); }
}

@media (max-width : 370px) { 
  .community .inner { padding: 50px 20px 0; }
  .community_visual {height: 450px;}
  .community_visual h2 { font-size: 3rem; }
  .community_txt .breadcrumbs  { gap: 10px; }

  .community_txt h3 { padding: 50px 0 0px; }
  .graph .graphlogo { width: 90px; padding: 40px 0 30px;}


  .graph .tit { font-size: 2rem; }
  .graph .txt {font-size: 1.2rem; padding-bottom: 10px; }

  .welcome .tit { font-size: 2rem;}
  .welcome .txt { font-size: 1.2rem; padding: 5px 0 10px;}
  .welcome .txt > span { font-size: 1.7rem; }

  .notice { margin: 50px auto; }
}
