/* visual */
/* .visual {height: 90vh;} */
.visual .visual1 { height: 34.89583vw; background: url("../images/main/main_visual_01.png") no-repeat center center/cover; } 
.visual .visual2 { height: 34.89583vw; background: url("../images/main/main_visual_02.png") no-repeat center center/cover; } 
.visual .visual3 { height: 34.89583vw; background: url("../images/main/main_visual_03.png") no-repeat center center/cover; } 
.visual .visual4 { height: 34.89583vw; background: url("../images/main/main_visual_04.png") no-repeat center center/cover; } 
.visual .visual5 { height: 34.89583vw; background: url("../images/main/main_visual_05.png") no-repeat center center/cover; } 

.visual .swiper-slide { position: relative; }
.visual .visual_txt { position: absolute; right: 0; top: 0; height: 100%; width: 36.302083vw; background: rgba(255, 255, 255, 0.8); display: flex ; justify-content: flex-start; align-items: center;}
.visual .visual_txt dl { padding: 0 100px; }
.visual .visual_txt dl dt { font-size: 2rem; font-weight: 700; }
.visual .visual_txt dl dd { padding: 3vw 0;}

.visual .swiper-pagination-bullet { background: #fff; opacity: 0.3;}
.visual .swiper-pagination-bullet-active {background: #fff; opacity: 1; width: 30px; border-radius: 10px;}

@media (max-width : 1600px) {
  .visual .visual_txt dl { padding: 0 50px; }
  .visual .visual_txt dl dt { font-size: 1.8rem;  }
  .visual .visual_txt dl dd { font-size: 1.4rem;  }
}

@media (max-width : 1200px) {
  .visual .visual_txt dl { padding: 0 30px;}
  .visual .visual_txt dl dt { font-size: 1.5rem;  }
  .visual .visual_txt dl dd { font-size: 1.3rem;  }
}

@media (max-width : 1024px) {
  .visual .visual_txt { bottom: 0; right: auto; top: auto; min-height: 170px; height: 30vw; width: 100%; text-align: center; justify-content: center;}
  .visual .visual_txt dl dt { font-size: 2rem; }
  
  /* background position */
  .visual .visual1 { height: 80vw; background-position: left -100px center ;} 
  .visual .visual2 { height: 80vw; background-position: left center; } 
  .visual .visual3 { height: 80vw; background-position: left -500px center; } 
  .visual .visual4 { height: 80vw; background-position: left -100px center;  } 
  .visual .visual5 { height: 80vw; background-position: left center;   } 
}

@media (max-width : 768px) {
  .visual .visual1 { height: 500px; background-position: left -100px center ;} 
  .visual .visual2 { height: 500px; background-position: left center; } 
  .visual .visual3 { height: 500px; background-position: left -500px center; } 
  .visual .visual4 { height: 500px; background-position: left -100px center;  } 
  .visual .visual5 { height: 500px; background-position: left center;   } 
  .visual .visual_txt dl dt {  font-size: 1.7rem; }
  .visual .visual_txt dl dd {font-size: 1.4rem; padding: 15px 0; }
}

@media (max-width : 650px) {
  .visual .visual_txt dl dt { font-size: 1.5rem; }
  .visual .visual_txt dl dd {font-size: 1.2rem; }
}

@media (max-width : 570px) {
  .visual .visual1 { background-position: left -180px center ;} 
  .visual .visual2 { background-position: left -30px center; } 
  .visual .visual3 { background-position: left -400px center; } 
  .visual .visual4 { background-position: left -150px center;  } 
  .visual .visual5 { background-position: left -70px center;   } 

  .visual .visual_txt dl dt { font-size: 1.2rem; }
  .visual .visual_txt dl dd {font-size: 1rem; padding: 10px 0; }
}


/* 공통사항 */
.btn_buy { transition: all 0.5s; display: inline-block; border: 1px solid var(--tit-color); border-radius: 30px; padding: 7px 40px;}
.btn_buy:hover { background-color: var(--tit-color); color: #fff;}
h2 { font-size: 6rem; font-family: var(--sub-font); font-weight: 900; }
h3 { font-size: 6rem; font-weight: 700; padding: 130px 0 36px ;}
.name { padding: 15px 0 12px; font-size: 2.5rem; color: var(--sub-color); font-weight: 500;}
.price { display: flex; justify-content: center; gap: 11px; align-items: center;}
.price p:nth-child(1) { color: var(--sub-color) ;}
.price p:nth-child(2) { color: #766F6F ; font-size: 1.2rem; text-decoration: line-through;}

@media (max-width : 1200px) { 
  .visual .btn_buy {font-size: 1.2rem; padding: 7px 35px;}
  .name { font-size: 2.3rem; padding: 12px 0 ;}
}

@media (max-width : 1024px) { 
  .shop_txt { text-align: center;}
  .shop .btn_buy {font-size: 1.2rem;  padding: 7px 25px;}
  h2 { line-height: 1; font-size: 5rem; }
  h3 { font-size: 5rem; padding: 100px 0 30px ; }
  .name { font-size: 2rem; padding: 10px 0 ;  }
  
}

@media (max-width : 768px) {
  .visual .btn_buy {font-size: 1rem; padding: 4px 25px;}
  h2 { font-size: 4rem;}
  h3 { padding: 69px 0 15px ; font-size: 3.5rem; }
  .name { font-size: 1.8rem; padding: 7px 0 ; }
}

@media (max-width : 570px) {
  .visual .btn_buy {font-size: 0.8rem;  padding: 3px 20px;}
  h2 { font-size: 3rem;}
  h3 { font-size: 2rem; padding: 39px 0 11px ;}
  .name { font-size: 1.7rem; padding: 5px 0; }
  .price p:nth-child(1) { font-size: 1.3rem;}
  .price p:nth-child(2) { font-size: 1rem;}
}

@media (max-width : 390px) {
  .name { font-size: 1.5rem; padding: 5px 0; }
}

/* shop */
.shop { padding: 200px 0; background: #FFFCF9;}
.shop .shop_txt p { color: var(--sub-color); padding-bottom: 20px ;}

@media (max-width : 1024px) { 
  .shop { padding: 120px 0;}
  .shop .shop_txt p { padding: 10px 0;}
}

@media (max-width : 768px) {
  .shop { padding: 80px 0;}
  .shop .shop_txt p { font-size: 1rem; }
}

@media (max-width : 570px) { 
  .shop { padding: 40px 0;}
  .shop .shop_txt p { padding: 5px 0;}
  .shop .btn_buy {font-size: 0.8rem;  padding: 3px 20px;}
}

/* bread */
.bread .bread_list .swiper-slide { text-align: center;}
.bread .bread_list li img { display: block; width: 100%; }

.bread .bread_list .bread_img { position: relative;}
.bread .bread_list .bread_img .bread_hover { transition: all 0.5s; opacity: 0; position: absolute ; left: 0; top: 0; } 
.bread .bread_list .bread_img:hover .bread_hover { opacity: 1;}

@media (max-width : 1024px) { 
  .bread .inner { padding: 0 71px;}
  .bread .bread_list .bread_img .bread_hover { display: none;}
}

@media (max-width : 768px) {
  .bread .inner { padding: 0 50px;}
}

@media (max-width : 570px) {
  .bread .inner { padding: 0 23px;}
}

/* jam */
.jam_list {height: 770px;}
.jam_list .slide1 { display: flex ; justify-content: space-between; align-items: center; gap: 112px; }
.jam_list .slide2 { display: flex ; justify-content: space-between; align-items: center; gap: 112px; }

.jam_list .swiper-slide .jam_txt01 { display: flex; align-items: center; gap: 29px;  width: 1035px; }
.jam_list .swiper-slide .jam_txt01 .txt1 .price { justify-content: flex-start;}
.jam_list .swiper-slide .jam_txt01 .txt2 { font-size: 1.7rem;}
.jam_list .swiper-slide .jam_txt01 .line { width: 2px; height: 114px; background: var(--sub-color);}

.jam_list .swiper-slide .jam_txt02 {  width: 1035px; }
.jam_list .swiper-slide .jam_txt02 .name { text-align: right;}
.jam_list .swiper-slide .jam_txt02 .price { justify-content: flex-end;}


/* jam_list 이미지 크기 */
.jam_list .swiper-slide .jam_img01 { position: relative; width: 823px; height: 385px; overflow: hidden; border-radius: 0 300px 300px 0; }
.jam_list .swiper-slide .jam_img01 > img { display: block; width: 100%; top: 35% ; transform: translateY(-35%); }

.jam_list .swiper-slide .jam_img02 { position: relative; width: 823px; height: 385px; overflow: hidden; border-radius: 300px 0 0 300px ; }
.jam_list .swiper-slide .jam_img02 > img { display: block; width: 100%; top: 20% ; transform: translateY(-20%);}

/* jam hover */
.jam_list li .jam_img01 .jam_hover { transition: all 0.5s; opacity: 0; position: absolute; left: 0; top: 0; width: 823px; height: 385px; }
.jam_list li .jam_img01 .jam_hover > img { width: 100%; display: block;}
.jam_list li .jam_img01:hover .jam_hover{ opacity: 1;}

.jam_list li .jam_img02 .jam_hover { transition: all 0.5s; opacity: 0; position: absolute; left: 0; top: 0; width: 823px; height: 385px}
.jam_list li .jam_img02 .jam_hover > img { width: 100%; display: block;}
.jam_list li .jam_img02:hover .jam_hover{ opacity: 1;}

@media (max-width : 1500px) {
  .jam_list .swiper-slide { gap: 80px;}
  .jam_list .swiper-slide .jam_img01 { width: 609px; height: 338px; }
  .jam_list .swiper-slide .jam_img02 { width: 609px; height: 338px; }
  .jam_list .swiper-slide .jam_txt01  { padding-right: 60px;}
}

@media (max-width : 1200px) { 
  .jam_list { height: 338px;}
  .jam_list .swiper-slide .jam_txt01 .line { width: 300px; height: 2px; margin: 10px 0;}
  .jam_list .swiper-slide .jam_txt01  { display: block;}
  .jam_list .swiper-slide .jam_txt01 .txt2 { font-size: 1.5rem;}
}

@media (max-width : 1024px) {
  .jam .inner { padding: 0 71px;}
  .jam_list { height: 280px;}
  .jam_list .swiper-slide { gap: 50px;} 

  .jam_list .swiper-slide .jam_img01 {width: 550px; height: 280px; }
  .jam_list .swiper-slide .jam_img02 {width: 550px; height: 280px; }
  .jam_list .swiper-slide .jam_txt01  { padding: 0;}
  .jam_list .swiper-slide .jam_txt01 .txt2 { font-size: 1.3rem;} 
  .jam_list .swiper-slide .jam_txt02 { padding-left: 85px;}
  .jam_list li .jam_img01 .jam_hover { display: none ;}
  .jam_list li .jam_img02 .jam_hover { display: none ;}
}

@media (max-width : 930px) { 
  .jam_list { height: 240px;}
  .jam_list .swiper-slide { gap: 40px;} 
  .jam_list .swiper-slide .jam_img01 { width: 450px; height: 240px; }
  .jam_list .swiper-slide .jam_img02 { width: 450px; height: 240px; }
  .jam_list .swiper-slide .jam_txt01 .txt2 { font-size: 1.2rem;}  
}

@media (max-width : 768px) { 
  .jam .inner { padding: 0 50px;}
  .jam_list { margin: 0px 50px; height: 450px;}
  .jam_list .slide1 { display: block ; gap: 0;} 
  .jam_list .swiper-slide .jam_img01 { width: 100%; height: 300px; }
  .jam_list .swiper-slide .jam_img02 { width: 100%; height: 300px; }  
  
  .jam_list .swiper-slide .jam_txt01 { width: 100%; text-align: center;}
  .jam_list .swiper-slide .jam_txt01 .txt1 .price { justify-content: center;}
  .jam_list .swiper-slide .jam_txt01 .line { width: 100%; height: 1px; margin: 10px 0; }
  .jam_list .swiper-slide .jam_txt01 .name { padding: 5px 0; }
  .jam_list .swiper-slide .jam_txt01 .txt2 { font-size: 1.5rem;} 

  .jam_list .swiper-slide .jam_img01 > img { display: block; width: 100%; top: 27% ; transform: translateY(-27%); }
  .jam_list .swiper-slide .jam_img02 > img { display: block; width: 100%; top: 15% ; transform: translateY(-15%); }
  
  /* 두번째 사진 */
  .jam_list .slide2 { flex-direction: column-reverse; gap: 0;}
  .jam_list .swiper-slide .jam_txt02 { width: 100%; padding-left: 0; padding-bottom: 80px;}
  .jam_list .swiper-slide .jam_txt02 .price { justify-content: center;}
  .jam_list .swiper-slide .jam_txt02 .name { padding: 5px 0; text-align: center;}
}

@media (max-width : 570px) { 
  .jam .inner { padding: 0 23px;}
  .jam_list { margin: 0 23px; height: 350px;}
  .jam_list .swiper-slide .jam_img01 { height: 180px; }
  .jam_list .swiper-slide .jam_img02 { height: 180px;}  

  .jam_list .swiper-slide .jam_txt01 .txt2 { font-size: 1.3rem;}
  .jam_list .swiper-slide .jam_txt02 { padding-bottom: 110px;}

  .jam_list .swiper-slide .jam_img01 > img { display: block; width: 100%; top: 40% ; transform: translateY(-40%); }
  .jam_list .swiper-slide .jam_img02 > img { display: block; width: 100%; top: 30% ; transform: translateY(-30%); }
}

/* syrup */
.syrup .syrup_list .swiper-slide { text-align: center;}
.syrup .syrup_list .swiper-slide img { top: 5% ; transform: translateY(-5%); width: 100%; display: block; }

.syrup .syrup_list .syrup_img { position: relative; overflow: hidden;}
.syrup .syrup_list .syrup_img .syrup_hover {  transition: all 0.5s; opacity: 0; position: absolute ; left: 0; top: 0; } 
.syrup .syrup_list .syrup_img:hover .syrup_hover { opacity: 1;}

@media (max-width : 1024px) { 
  .syrup .inner { padding: 0 71px;}
  .syrup .syrup_list .syrup_img .syrup_hover { display: none;}
}

@media (max-width : 768px) {
  .syrup .inner { padding: 0 50px;}
}

@media (max-width : 570px) {
  .syrup .inner { padding: 0 23px;}
}

/* coffee */
.coffee_list li { display: flex; align-items: center; gap: 40px; width: calc(100% / 2); }
.coffee_list li .coffee_img { width: 385px; height: 385px; overflow: hidden;}
.coffee_list li .coffee_img img { display: block; width: 100%;}

.coffee_list li .coffee_txt .txt { padding-bottom: 13px ;}
.coffee_list li .coffee_txt .price { justify-content: flex-start; padding-left: 10px;}

.coffee .coffee_list .coffee_img { position: relative; overflow: hidden;}
.coffee .coffee_list .coffee_img .coffee_hover {  transition: all 0.5s; opacity: 0; position: absolute ; left: 0; top: 0; } 
.coffee .coffee_list .coffee_img .coffee_hover img { display: block; height: 100%; width: 100%;}
.coffee .coffee_list .coffee_img:hover .coffee_hover { opacity: 1;}

@media (max-width : 1600px) {  
  .coffee_list li { gap: 35px;}
  .coffee_list li .coffee_img { width: 350px; height: 350px;}
}

@media (max-width : 1300px) {  
  .coffee_list li { gap: 25px;}
  .coffee_list li .coffee_img { width: 300px; height: 300px;}
}

@media (max-width : 1024px) { 
  .coffee .inner { padding: 0 71px;}
  .coffee_list li { gap: 100px;}
  .coffee_list li .coffee_img { width: 400px; height: 400px;}
  .coffee_list li .coffee_txt .txt { font-size: 1.4rem; }
  .coffee .coffee_list .coffee_img .coffee_hover { display: none;}

}

@media (max-width : 850px) { 
  .coffee_list li { gap: 5.88vw;}
  .coffee_list li .coffee_img { width: 41.1vw; height: 41.1vw;}
}

@media (max-width : 768px) {
  .coffee .inner { padding: 0 50px;}
}

@media (max-width : 570px) {
  .coffee .inner { padding: 0 23px;}
  .coffee_list li { gap: 10px;}
  .coffee_list li .coffee_img { width: 182px; height: 182px;}
  .coffee_list li .coffee_txt .txt { font-size: 1.2rem; }
}

/* brand */
.brand { padding: 76px 0 146px; position: relative; }
.brand h2 { text-align: center; padding-bottom: 50px;}
.brand .brand_img { position: relative; overflow: hidden; width: 100%; height: 660px ;}
.brand .brand_img img { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%) scale(1); width: 100%; height: 100%; object-fit: cover; object-position: center;}

.brand .btn_more { transition: all 0.5s; position: absolute; bottom: 250px; left: 50%; transform: translateX(-50%);  font-size: 2rem; font-family: var(--sub-font); background: #FFF8EE; padding: 5px 30px; border-radius: 50px;}

.brand .btn_more:hover { color: #FFF8EE ; background: var(--tit-color);}

@media (max-width : 1300px) { 
  .brand .brand_img img { width: auto; transform: translate(-50%, -50%) scale(0.9); }
}

@media (max-width : 1024px) { 
  .brand { padding: 60px 0 100px;}
  .brand h2  { padding-bottom: 40px ;}
  .brand .brand_img { height: 347px;}
  .brand .brand_img img { transform: translate(-50%, -50%) scale(1); }

  .brand .btn_more { bottom: 130px; font-size: 1.5rem; padding: 5px 25px; }
}

@media (max-width : 768px) {
  .brand { padding: 50px 0 80px;}
  .brand .brand_img { height: 200px;}
  .brand .brand_img img {transform: translate(-50%, -50%) scale(1.3); }
  .brand .btn_more { bottom: 90px; font-size: 1.2rem; padding: 2px 15px; }
  
}

@media (max-width : 570px) {
  .brand { padding: 41px 0 64px;}
  .brand h2  { padding-bottom: 25px ;}
  .brand .brand_img { height: 149px;}
  .brand .brand_img img { transform: translate(-50%, -50%) scale(1.4); }
  .brand .btn_more { bottom: 70px; font-size: 1rem; padding: 0 10px; }
}

/* review */
.review { padding: 200px 0; background: #fff;}
.review .inner { max-width: 1502px; }
.review h2 {padding-bottom: 37px;}
.review .swiper-slide { border: 1px solid rgba(192, 192, 192, 0.3);}
.review .swiper-slide img { width: 100% ; display: block;}
.review .swiper-slide dl { padding: 15px 30px;}
.review .swiper-slide dl dt { color: #000; font-size: 2rem; font-weight: 500;}
.review .swiper-slide dl .score { font-size: 2rem; font-weight: 500; color: #777777; padding: 15px 0;}
.review .swiper-slide dl .bar { width: 100%; height: 2px; background: rgba(212, 212, 212, 0.5);}
.review .swiper-slide dl .star { padding: 15px 0; display: flex; gap: 10px;}
.review .swiper-slide dl .star > img { display: block; width: 34px;}
.review .swiper-slide dl .txt { color: #000;  overflow: hidden;
  text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;}
.review p { text-align: center; font-weight: 500; padding-top: 20px;}

.review .review_list { position: relative;}
.review .review_list .swiper-button-prev { position: absolute; left: 0; top: 30%; color: #fff; background: rgba(255, 255, 255, 0.5); width: 37px; height: 77px; left: 0; border-radius: 0 10px 10px 0;}
.review .review_list .swiper-button-next { position: absolute; right: 0; top: 30%; color: #fff; background: rgba(255, 255, 255, 0.5); width: 37px; height: 77px; right: 0; border-radius: 10px 0 0 10px;}

/* 아래 부분 짤리는거 물어보기 */
.review .review_list .swiper-pagination { display: none;  bottom: -5px; position: absolute;}
.review .review_list .swiper-pagination-bullet { background: #b9b9b9; opacity: 0.3; width: 14px; height: 14px;}
.review .review_list .swiper-pagination-bullet-active { background: #b9b9b9; opacity: 1; }

@media (max-width : 1500px) { 
  .review .review_list .swiper-button-prev { transform: scale(0.9) translateX(-2px); transition: transform 0.2s ease;}
  .review .review_list .swiper-button-next { transform: scale(0.9) translateX(2px); transition: transform 0.2s ease;}
  .review .swiper-slide dl { padding: 12px 20px;}
  .review .swiper-slide dl .star { padding: 8px 0;}
  .review .swiper-slide dl .score { padding: 8px 0; }
}

@media (max-width : 1024px) { 
  .review { padding: 120px 0; } 
  .review h2 { text-align: center;}
  .review .inner { padding: 0 45px;}
  .review .swiper-slide dl { padding: 10px 15px;}
  .review .swiper-slide dl dt {  font-size: 1.7rem; }
  .review .swiper-slide dl .score { font-size: 1.7rem;}
  .review .swiper-slide dl .txt { font-size: 1.3rem;}
  .review .swiper-slide dl .star > img { display: block; width: 25px;}

  .review p { display: none;}
  .review .review_list { padding-bottom: 30px;}
  .review .review_list .swiper-pagination { display: block;}
}

@media (max-width : 768px) {
  .review { padding: 80px 0;}
  .review .review_list .swiper-button-prev { transform: scale(0.7) translateX(-8px); }
  .review .review_list .swiper-button-next { transform: scale(0.7) translateX(8px); }
  .review .swiper-slide dl { padding: 8px 10px;}
  .review .swiper-slide dl dt {  font-size: 1.5rem; }
  .review .swiper-slide dl .score { padding: 5px 0; font-size: 1.5rem; }
  .review .swiper-slide dl .txt { font-size: 1.2rem; }
  .review .swiper-slide dl .star { gap: 7px;}
  .review .swiper-slide dl .star > img { display: block; width: 20px;}
  .review .review_list .swiper-pagination-bullet { width: 10px; height: 10px;}
}

@media (max-width : 570px) { 
  .review { padding: 40px 0;}
  .review .review_list .swiper-button-prev { transform: scale(0.6) translateX(-12px); }
  .review .review_list .swiper-button-next { transform: scale(0.6) translateX(12px); }
  .review .swiper-slide dl { padding: 5px;}
  .review .swiper-slide dl dt {  font-size: 1.2rem; }
  .review .swiper-slide dl .score { padding: 2px 0; font-size: 1.2rem; }
  .review .swiper-slide dl .txt { font-size: 1rem;}
  .review .swiper-slide dl .star { gap: 5px; padding: 4px 0;}
  .review .swiper-slide dl .star > img { display: block; width: 15px;}

  .review .review_list { padding-bottom: 15px;}
  .review .review_list .swiper-pagination-bullet { width: 7px; height: 7px;}
}

/* community */
.community { background: #fff; padding-bottom: 200px;}
.community .inner { text-align: center;}
.community h2 { padding-bottom: 4.84375vw;}
.community .btn { display: flex; justify-content: center; gap: 49px;}
.community .btn a { transition: all 0.5s; font-size: 3rem; display: inline-block; border: solid 1px #655542; background: #EDD8BE; padding: 10px 30px; width: 272px; border-radius: 40px;}

.community .btn a:hover { background-color: #655542; color: #EDD8BE;} 

@media (max-width : 1024px) { 
  .community { padding-bottom: 120px; }
  .community .btn { gap: 40px;}
  .community .btn a { font-size: 2.5rem; width: 217px; padding: 10px 20px;}
}

@media (max-width : 900px) { 
  .community { padding-bottom: 100px; }
}

@media (max-width : 768px) {
  .community { padding-bottom: 80px; }
  .community .btn { gap: 30px;}
  .community .btn a { font-size: 1.8rem; width: 160px; padding: 7px 15px;}
}

@media (max-width : 600px) {
  .community { padding-bottom: 60px; }
  .community .btn { gap: 25px;}
  .community .btn a { font-size: 1.5rem; width: 130px; padding: 6px 10px;}
}

@media (max-width : 570px) { 
  .community { padding-bottom: 40px; }
  .community .btn { gap: 15px;}
  .community .btn a { font-size: 1.2rem; width: 110px; padding: 5px 5px;}
}

/* banner */
.banner { background: #fff;}
.banner > div > a > img { width: 100%; object-fit: cover; display: block;}
/* .banner .insta_event { padding-bottom: 23px;}

@media (max-width : 1024px) { 
  .banner .insta_event { padding-bottom: 15px;}
}

@media (max-width : 768px) {
  .banner .insta_event { padding-bottom: 10px;}
}

@media (max-width : 570px) { 
  .banner .insta_event { padding-bottom: 5px;}
}
 */

/* cs */
.cs { padding: 200px 0; background: #fff;}
.cs .inner { max-width: 1522px;}
.cs .cs_top { display: flex; justify-content: space-between; gap: 41px; margin-bottom: 42px;}
.cs .cs_top > div { display: flex; align-items: center;}
.cs .cs_top .cs_left { padding: 1vw 0.89vw 1vw 2.2vw; background: #FFEDED; border-radius: 30px;}
.cs .cs_top .cs_right { padding: 1vw 0.89vw 1vw 2.2vw; background: #FFFEED; border-radius: 30px;}
.cs .cs_bottom { padding: 1vw 0 1vw 21.25vw; display: flex; align-items: center; background:  #EDFFEE; border-radius: 30px;}

.cs .cs_top img { width: 153px; height: 153px;}
.cs .cs_bottom img { width: 153px; height: 153px;}

.cs .cs_txt { margin-left: 35px;}
.cs .cs_txt p { font-size: 3.5rem; font-weight: 700; padding-bottom: 15px;}
.cs .cs_txt span { font-size: 2rem; font-weight: 500;}

@media (max-width : 1500px) {
  .cs .cs_top { gap: 20px; margin-bottom : 26px; height: 250px;}
  .cs .cs_bottom  { height: 250px;}

  .cs .cs_top img { width: 150px; height: 150px;}
  
  .cs .cs_bottom img { width: 150px; height: 150px;}
  .cs .cs_txt p { font-size: 3rem; padding-bottom: 12px; }
  .cs .cs_txt span { font-size: 1.9rem; }
}

@media (max-width : 1024px) { 
  .cs { padding: 120px 0 ;}
  .cs .cs_top { gap: 14px; margin-bottom : 17px; }

  .cs .cs_top img { width: 125px; height: 125px;}
  .cs .cs_bottom img { width: 125px; height: 125px;}
  .cs .cs_txt p { font-size: 2.5rem; padding-bottom: 10px; }
  .cs .cs_txt span { font-size: 1.8rem; }
}

@media (max-width : 900px) { 
  .cs .cs_top  { height: 200px;}
  .cs .cs_bottom  { height: 200px;}
  .cs .cs_txt p { font-size: 2.5rem; padding-bottom: 8px; }
  .cs .cs_txt span { font-size: 1.5rem; }
  .cs .cs_top img { width: 100px; height: 100px;}
  .cs .cs_bottom img { width: 100px; height: 100px;}
}

@media (max-width : 768px) {
  .cs { padding: 80px 0 ;}
  .cs .cs_top { display: block; margin-bottom: 10px; height: auto;}
  .cs .cs_top .cs_left { height: 150px; margin-bottom: 10px; padding: 1vw 0.89vw 1vw 30px;}
  .cs .cs_top .cs_right { height: 150px; padding: 1vw 0.89vw 1vw 30px; }
  .cs .cs_bottom { height: 150px; padding: 1vw 0.89vw 1vw 30px;}

  .cs .cs_txt { margin-right: 20px;}
  .cs .cs_txt p { font-size: 2rem; padding-bottom: 8px; }
  .cs .cs_txt span { font-size: 1.3rem; }
  .cs .cs_top img { width: 80px; height: 80px;}
  .cs .cs_bottom img { width: 80px; height: 80px;}
}

@media (max-width : 570px) { 
  .cs { padding: 40px 0 ;}
  .cs .cs_top .cs_left{  height: 105px;}
  .cs .cs_top .cs_right{  height: 105px;}
  .cs .cs_bottom  { height: 105px;}
  .cs .cs_txt p { font-size: 1.5rem; padding-bottom: 8px; }
  .cs .cs_txt span { font-size: 1.2rem; }
  .cs .cs_top img { width: 65px; height: 65px;}
  .cs .cs_bottom img { width: 65px; height: 65px;}
}

@media (max-width : 390px) {
.cs .cs_txt { margin-left: 20px; padding-right: 20px;}
.cs .cs_txt p { font-size: 1.5rem; padding-bottom: 0px; }
}