/* review */
.review .inner { max-width: 1522px; padding: 0 20px;}

/* review_visual */
.review_visual { background: url("../images/sub/review_visual.png") no-repeat center center /cover ; height: 670px;}
.review_visual h2 { font-family: var(--sub-font); font-size: 6rem;   line-height: 1.2; text-transform: uppercase; color: #fff; text-align: center; text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); padding: 200px 0;}

/* review_txt */
.review_txt { padding-top: 100px; text-align: center;} 
.review_txt h3 { color: var(--sub-color); font-size: 5rem; font-weight: 700; }
.review_txt p { font-size: 1.8rem; color: var(--sub-color);  padding: 30px 0 40px;}
.review_txt .event { width: 526px; margin: 0 auto;}
.review_txt .event img { display: block; width: 100%;}
.review_txt .point { padding: 200px 0;}
.review_txt .point img { display: block; width: 100%; border-radius: 50px;}

/* review_list */
.review .swiper-slide { border: 1px solid rgba(192, 192, 192, 0.3);}
.review .swiper-slide img { width: 100% ; display: block;}
.review .swiper-slide dl { padding: 15px 30px;}
.review .swiper-slide dl dt { color: #000; font-size: 2rem; font-weight: 500;}
.review .swiper-slide dl .score { font-size: 2rem; font-weight: 500; color: #777777; padding: 15px 0;}
.review .swiper-slide dl .bar { width: 100%; height: 2px; background: rgba(212, 212, 212, 0.5);}
.review .swiper-slide dl .star { padding: 15px 0; display: flex; gap: 10px;}
.review .swiper-slide dl .star > img { display: block; width: 34px;}
.review .swiper-slide dl .txt { color: #000;  overflow: hidden;
  text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;}
.review p { text-align: center; font-weight: 500; padding-top: 20px;}

.review .review_list { position: relative;}
.review .review_list .swiper-button-prev { position: absolute; left: 0; top: 30%; color: #fff; background: rgba(255, 255, 255, 0.5); width: 37px; height: 77px; left: 0; border-radius: 0 10px 10px 0;}
.review .review_list .swiper-button-next { position: absolute; right: 0; top: 30%; color: #fff; background: rgba(255, 255, 255, 0.5); width: 37px; height: 77px; right: 0; border-radius: 10px 0 0 10px;}

/* notice */
.review .notice { margin: 200px auto; background: #F2E5D3; padding: 80px 100px; width: 1120px;}
.review .notice dt { font-size: 2rem; font-weight: 700; padding-bottom: 5px;}
.review .notice dd { position: relative; padding: 5px 0 5px 13px; margin-left: 7px;}
.review .notice dd::before { content: ""; width: 5px; height: 5px; background: #655542; border-radius: 50%; display: block; position: absolute; left: 0; top: calc(50% - 3px) ;}

/* 반응형 */
@media (max-width : 1500px) { 
  .review .review_list .swiper-button-prev { transform: scale(0.9) translateX(-2px); transition: transform 0.2s ease;}
  .review .review_list .swiper-button-next { transform: scale(0.9) translateX(2px); transition: transform 0.2s ease;}
  .review .swiper-slide dl { padding: 12px 20px;}
  .review .swiper-slide dl .star { padding: 8px 0;}
  .review .swiper-slide dl .score { padding: 8px 0; }
  .review .notice { margin: 170px auto; padding: 80px 100px; width: 1000px;}
}

@media (max-width : 1200px) { 
  .review .notice {width: 950px;}
}

@media (max-width : 1024px) { 
  .review_visual {height: 600px;}
  .review_visual h2  { font-size: 5rem; }
  .review_txt h3 { font-size: 4rem; }
  .review_txt p { font-size: 1.6rem; }
  .review_txt .event { width: 450px; }
  .review_txt .point { padding: 120px 0;}

  .review .swiper-slide dl { padding: 10px 15px;}
  .review .swiper-slide dl dt {  font-size: 1.7rem; }
  .review .swiper-slide dl .score { font-size: 1.7rem;}
  .review .swiper-slide dl .txt { font-size: 1.3rem;}
  .review .swiper-slide dl .star > img { display: block; width: 25px;}
 
  .review .review_list { padding-bottom: 30px;}
  .review .review_list .swiper-pagination { display: block;}
  .review .notice { margin: 120px auto; padding: 70px 80px; width: 100%;}
  .review .notice dd:nth-of-type(4):before { top: calc(30% - 3px) ;}
} 

@media (max-width : 768px) {
  .review_visual {height: 550px;}
  .review_visual h2  { font-size: 4rem; }
  
  .review_txt .event { width: 400px; }
  .review_txt .point { padding: 80px 0;}

  .review .review_list .swiper-button-prev { transform: scale(0.7) translateX(-8px); }
  .review .review_list .swiper-button-next { transform: scale(0.7) translateX(8px); }
  .review .swiper-slide dl { padding: 8px 10px;}
  .review .swiper-slide dl dt {  font-size: 1.5rem; }
  .review .swiper-slide dl .score { padding: 5px 0; font-size: 1.5rem; }
  .review .swiper-slide dl .txt { font-size: 1.2rem; }
  .review .swiper-slide dl .star { gap: 7px;}
  .review .swiper-slide dl .star > img { display: block; width: 20px;}
  .review .review_list .swiper-pagination-bullet { width: 10px; height: 10px;}

  .review .notice { margin: 80px auto; padding: 60px 40px;}
  .review .notice dt { font-size: 1.7rem; }
  .review .notice dd { font-size: 1.4rem; }
 
}

@media (max-width : 570px) {
  .review_visual { background-position: right -250px center;}
  .review_visual h2 { font-size: 3.8rem; }
  .review_txt { padding-top: 80px; }
  .review_txt h3 { font-size: 3rem; }
  .review_txt p { font-size: 1.4rem; }
  .review_txt .event { width: 350px; }
  .review_txt .point { padding: 50px 0;}

  .review .review_list .swiper-button-prev { transform: scale(0.6) translateX(-12px); }
  .review .review_list .swiper-button-next { transform: scale(0.6) translateX(12px); }
  .review .swiper-slide dl { padding: 5px;}
  .review .swiper-slide dl dt {  font-size: 1.2rem; }
  .review .swiper-slide dl .score { padding: 2px 0; font-size: 1.2rem; }
  .review .swiper-slide dl .txt { font-size: 1rem;}
  .review .swiper-slide dl .star { gap: 5px; padding: 4px 0;}
  .review .swiper-slide dl .star > img { display: block; width: 15px;}
  .review .review_list { padding-bottom: 0;}
  .review .review_list .swiper-pagination-bullet { width: 7px; height: 7px;}

  .review .notice { margin: 60px auto; padding: 60px 40px;}
  .review .notice dd::before { top: calc(30% - 3px) ;}
}

@media (max-width : 400px) {
  .review_visual h2 { font-size: 3.5rem; }
  .review_txt p { font-size: 1.2rem; }
  .review_txt .event { width: 300px; }

  .review .notice { margin: 60px auto; padding: 30px 30px;}
  .review .notice dt { font-size: 1.5rem; }
  .review .notice dd { font-size: 1.2rem; }
  .review .notice dd:nth-of-type(4):before {  top: calc(20% - 3px) ;}
}

@media (max-width : 370px) { 
  .review_visual {height: 450px;}
  .review_visual h2 { font-size: 3rem; }
  .review_txt { padding-top: 40px; }
  .review_txt h3 { font-size: 2rem; }
  .review_txt .event { width: 200px; }
  .review_txt .point { padding: 40px 0;}

  .review .swiper-slide dl dt {  white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
  .review .notice { margin: 50px auto; }
}
